<h1 class="page-header">Drinks with <%= @user_ing.capitalize %></h1>

<% if !@drinks.empty? %>
  <%= render "drinks" %>
<% else %>
  <h4>No drinks found! Tips:</h4>
  <ul>
    <li>For rum, make sure to specify 'white rum' or 'dark rum'</li>
  </ul>
<% end %>
